{% extends 'admin/base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Commande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ commande.numero }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ commande.statut }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ commande.total }}</td>
            </tr>
            <tr>
                <th>AdresseLivraison</th>
                <td>{{ commande.adresseLivraison }}</td>
            </tr>
            <tr>
                <th>StripePaymentId</th>
                <td>{{ commande.stripePaymentId }}</td>
            </tr>
            <tr>
                <th>PayeAt</th>
                <td>{{ commande.payeAt ? commande.payeAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ commande.createdAt ? commande.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_commande_index') }}">back to list</a>

    

    
{% endblock %}
